<div id="LoginForm">
  <div class="container">
    <h1 class="form-heading">Login Form</h1>
    <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>Admin Login</h2>
        <p>Please enter your email and password</p>
      </div>
      <form id="Login">
        <div class="form-group">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
        </div>

        <div class="form-group">

          <input type="password" class="form-control" id="inputPassword" placeholder="Password">

        </div>
        <button type="button" class="btn btn-primary" (click)="login()">Login</button>

      </form>
      </div>
    </div>
  </div>
</div>

