<div class="container">
  <h1>Edit Form</h1>
  <form [formGroup]="myform" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="title" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Content</label>
      <input type="text" class="form-control" id="content" formControlName="body">
    </div>

    <button type="submit" class="btn btn-success">Save</button>

  </form>
</div>


