.logout-btn{
  position: absolute;
  right: 15px;
  top: 0px;
  margin-top: 8px;
}

.pos-rel{
  position: relative;
}

.card{
  margin-bottom: 10px;
  margin-top: 30px;
}

.e-icon{
  cursor: pointer;
  color: blue !important;
}

