<nav class="navbar navbar-expand-sm bg-light pos-rel">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Learn Store</a>
      </li>
    </ul>
    <div class="logout-btn">
        <button class="btn btn-primary" type="button" (click)="logout()">Logout</button>
      </div>
  </nav>

<div class="container">
    <div class="card" *ngFor="let item of (list | async).list;let i = index">
        <div class="card-header">
            {{item.id}}).  {{item.title}}
            <div class="float-right">
                <a (click)="edit(item, i)" class="e-icon">Edit</a> &nbsp;&nbsp;
                <a (click)="delete(i)" class="e-icon">Delete</a>
              </div>
        </div>
        <div class="card-body">{{item.body}}</div>
      </div>
</div>
